In [6]:
import requests
import json
KEY = 'c25fe3dd21454182b051ac79e291af1d' 
BASE_URL = 'https://api-cq.cognitiveservices.azure.com/face/v1.0/detect'
HEADERS = {
    # Request headers
    'Content-Type': 'application/json',
    'Ocp-Apim-Subscription-Key': '{}'.format(KEY),  
}

img_url = 'http://dingyue.nosdn.127.net/EqhQ0fEL0ML3uLL07ISGgzsr=QajEHp=zU9EoaO7Qaleh1534991913857.jpg'

In [7]:
data = {
    'url': '{}'.format(img_url),
}
payload = {
    'returnFaceId': 'true',
    'returnFaceLandmarks': 'flase',
    'returnFaceAttributes': '{}'.format('age,gender,glasses,emotion'), 
}

In [10]:
r = requests.post(BASE_URL, data=json.dumps(data), params=payload, headers=HEADERS)

r.status_code
r.json()
results = r.json()
results

[{'faceId': 'b667c478-1d0b-4534-a958-078f1891f10b',
  'faceRectangle': {'top': 268, 'left': 141, 'width': 321, 'height': 321},
  'faceAttributes': {'gender': 'male',
   'age': 18.0,
   'glasses': 'NoGlasses',
   'emotion': {'anger': 0.0,
    'contempt': 0.0,
    'disgust': 0.0,
    'fear': 0.0,
    'happiness': 0.033,
    'neutral': 0.967,
    'sadness': 0.0,
    'surprise': 0.0}}}]

In [21]:
import pandas as pd
df_ax = pd.json_normalize(results)
df_ax

,faceId,faceRectangle.top,faceRectangle.left,faceRectangle.width,faceRectangle.height,faceAttributes.gender,faceAttributes.age,faceAttributes.glasses,faceAttributes.emotion.anger,faceAttributes.emotion.contempt,faceAttributes.emotion.disgust,faceAttributes.emotion.fear,faceAttributes.emotion.happiness,faceAttributes.emotion.neutral,faceAttributes.emotion.sadness,faceAttributes.emotion.surprise
0,b667c478-1d0b-4534-a958-078f1891f10b,268,141,321,321,male,18.0,NoGlasses,0.0,0.0,0.0,0.0,0.033,0.967,0.0,0.0

In [24]:
df_ax = df_ax.rename(columns = {"faceAttributes.age":"年龄"
                                
                                
                              })
df_ax

,faceId,faceRectangle.top,faceRectangle.left,faceRectangle.width,faceRectangle.height,faceAttributes.gender,年龄,faceAttributes.glasses,faceAttributes.emotion.anger,faceAttributes.emotion.contempt,faceAttributes.emotion.disgust,faceAttributes.emotion.fear,faceAttributes.emotion.happiness,faceAttributes.emotion.neutral,faceAttributes.emotion.sadness,faceAttributes.emotion.surprise
0,b667c478-1d0b-4534-a958-078f1891f10b,268,141,321,321,male,18.0,NoGlasses,0.0,0.0,0.0,0.0,0.033,0.967,0.0,0.0